@charset "utf-8";
/* CSS Document */

/* HTML5 elements that are blocks */
aside, header, footer, article, section,
nav, figure, figcaption {
	display: block;
}

body{
	background:#DBDBDB;
	margin: 0 auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	height:auto;	
	font-size: 1.01em;
	font-weight:600;
    line-height: 1.45em;
	color: #012d5b;
	}
article{
	width:200px;
	height:auto;
	margin: 0 auto;}
	
section{
	width:200px;
	margin: 0 auto;
	}
	
#toolbar{
	background:#369;
	color:#FFF;
	font-family:"calibri";	
	width:100%;
	height:auto;
	margin: 0 auto;
	}
	
#bloque{
	width:180px;
	text-align:center;
	margin: 0 auto;
	padding:10px;
	}
	
#logo{
	background:#FFF;
	/*width:250px;
	height:100px;*/
	float:left;
	clear:both;
	padding:20px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom:10px;
	}

#socialmedia{
	display:none;
	background:#FFF;
	width:650px;
	height:87px;
	padding:10px;
	float:left;
	height:120px;	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom:10px;
	}
	
nav{
	float:left;	
	width: 200px;
	}
ul {
   	list-style-type:none;
    margin: 0px;
    padding: 0px; 
	text-decoration: none;
	//width:960px;      
	}
	
/*.btn{
	 float:left;
	 width:100%;
	 list-style:none;
	 margin:0;
	 padding:0;
	 }

.btn li{
	float:left;
	height:50px;
	}
.btn a{
	float:left;
	display:block;
	background-image:url(../img/Botonera.png);
	width:160px;
	height:50px;
	text-indent:-9999px;
	}
.btn_home a{
	background-position: 0px 0px;
	width:149px;
	}	
	
.btn_who a{
	background-position: -150px 0;
	width:149px;
	}
	
.btn_what a{
	background-position: -300px 0px;
	width:149px;
	}
	
.btn_our a{
	background-position: -450px 0px;
	width:149px;
	}
	
.btn_contact a{
	background-position: -600px 0px;
	width:149px;
	}
	
.btn_invert a{
	background-position: -750px 0px;
	width:215px;
	}
/*Part 2*/
/*.btn_home a:hover{
	background-position: -972px 0px;
	}	
.btn_who a:hover {
	background-position: -1122px 0px;
	}
.btn_what a:hover {
	background-position: -1272px 0px;
	}
.btn_our a:hover {
	background-position: -1422px 0px;
	}	
.btn_contact a:hover {
	background-position: -1572px 0px;
	}	
.btn_invert a:hover {
	background-position: -1722px 0px;
	}*/
#contenido{
	width:200px;
	font-size:1em;
	font-weight:500;
	text-align:center;	
	margin: 0 auto;
	float:left;
	}
	
#infor{
	height:200px;
	}

.contacto{
	display:none;
    width:200px;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 20px 20px 20px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 10px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 170px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white; 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
.result_fail{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.result_ok{
    background: none repeat scroll 0 0 #1EA700;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
	
#information{
	margin-top:10px;
	width:150px;
	float:left;
	font-size: 1.01em;
	font-weight:500;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	text-align: justify;
	box-shadow: 	0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	-moz-box-shadow:0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	-webkit-box-shadow:0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	padding:20px;
	background-color:rgb(232,232,232); 
	margin-bottom:20px;
	clear:both;
	}	
.alinear{
	float:right;
	margin:10px;
	}
	
.letra{
	text-decoration:none;
	color: #012d5b;}	
#banner{
	display:none;
	margin-top:10px;
	float:right;
	width:160px;
	height:600px;
	}	

#video{
	/*clear:both;*/	
	width:1800px;
	height:300px;
	//float:left;
	margin-top:-100px;
	}	
	
#formulario{
	display:none;
	float:right;
	width:240px;
	height:600px;
	clear:both;
	}	
	
#banner2{
	display:none;
	padding:20px;
	clear:both;
	height:100px;
	}
#network{
	display:none;
	background:#FFF;
	padding:10px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	box-shadow: 	0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	-moz-box-shadow:0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	-webkit-box-shadow:0 0 0 1px rgba(0,0,2,0.1),
			0 1px 0 rgba(0,0,2,0.15),
			0 1px 1px rgba(0,0,2,0.1);
	}
	
footer{
	width:180px;
	text-align:center;
	padding:10px;
	margin-top:10px;
	float:left;
	}
	